/*GERAL */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
}

a{
    text-decoration: none;
    font-weight: bold;
}

.nav{
    background: #000;
}
.nav a{
    text-align: center;
    padding: 10px 0;
    color: #fff;
}
.nav a:hover{
    background: #666;
}
/*As medias queries trabalham com responsividade*/
@media screen and (max-width: 480px) { /*Para mobile bem pequenos*/
    .nav{
        display: none;
        flex-direction: column;  
    }
    .nav a{/*estilização dos links que estao na Nav */
        width: 100%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) { /*Para tablets*/
    .nav{
        display: none;
        flex-direction: column;
    }
    .nav a{/*estilização dos links que estao na Nav */
        width: 100%;
    }
    
}
@media screen and (min-width: 769px) and (max-width: 1199px) { /*Para pequenos notebooks*/
    .nav{
        display: flex;
    }
    .nav a{/*estilização dos links que estao na Nav */
        width: 25%;
    }
}
@media screen and (min-width: 1200px) { /*Para telas maiores*/
    .nav{
        display: flex;
    }
    .nav a{/*estilização dos links que estao na Nav */
        width: 25%;
    }
    
}