/*GERAL */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
}

a{
    text-decoration: none;
    font-weight: bold;
}

.nav{
    background: rgb(7, 89, 145);
}
    .nav a{
        text-align: center;
        padding: 10px 0;
        color: #fff;
    }
    .nav a:hover{
        background: rgb(114, 183, 223);
    }


/*As medias queries trabalham com responsividade*/
@media screen and (max-width: 480px) { /*Para mobile bem pequenos - small smartphones*/
    .header{
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: none;
        flex-direction: column; 
        order:2; /*Para que o botao apareça por cima */
    }
        .nav a{/*estilização dos links que estao na Nav */
            width: 100%;
        }
    .buttonMob{
        order:1; /*Para que o botao apareça por cima */
        text-align: right;
        padding: 7px 5% 7px 0;
    }
    /*Logotipo e enderço*/
    .logo{
        position: absolute;
        top: 0;
        left: 5%;

    }
    .address{
        order:3;
        padding: 10px 5%;
        line-height: 35px;
        color: #fff;
        text-align: center;
        background: #51a8b1;
    }
        .address img{
            vertical-align: middle;
        }
        .address strong{
            font-size: 27px;
        }
}

@media screen and (min-width: 481px) and (max-width: 768px) { /*Para tablets - Medium smartphones*/
    .nav{
        display: none;
        flex-direction: column;
    }
    .nav a{/*estilização dos links que estao na Nav */
        width: 100%;
    }
    
    .header{
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: none;
        flex-direction: column; 
        order:2; /*Para que o botao apareça por cima */
    }
        .nav a{/*estilização dos links que estao na Nav */
            width: 100%;
        }
    .buttonMob{
        order:1; /*Para que o botao apareça por cima */
        text-align: right;
        padding: 5px 5% 5px 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) { /*Para pequenos notebooks - Large smartphones*/
    .nav{
        display: flex;
    }
        .nav a{/*estilização dos links que estao na Nav */
            width: 25%;
        }
    .buttonMob {
        display: none;
    }
    /*Logotipo e endereço*/
    .logo{
        float: left;
        width: 30%;
        padding: 15px 0 15px 10%;

    }
    .address{
        float: left;
        width: 70%;
        padding: 20px 5% 10px 20%;
        line-height: 35px;
        text-align: center;
    }
        .address img{
            vertical-align: middle;
        }
        .address strong{
            color: rgb(7, 136, 39);
            font-size: 24px;
        }
}

@media screen and (min-width: 1200px) { /*Para telas maiores - XLarges Screens*/
    .nav{
        display: flex;
    }
        .nav a{/*estilização dos links que estao na Nav */
            width: 25%;
        }

    .buttonMob {
        display: none;
    }

    .logo{
        float: left;
        width: 30%;
        padding: 15px 0 15px 10%;

    }
    .address{
        float: left;
        width: 70%;
        padding: 20px 5% 10px 20%;
        line-height: 35px;
        text-align: center;
    }
        .address img{
            vertical-align: middle;
        }
        .address strong{
            color: rgb(7, 136, 39);
            font-size: 24px;
        }
}